.evals-rating {
  text-decoration: underline;
  flex: 1;
}
.evals-description {
  font-weight: 500;
  float: right;
  padding-left: 5px;
}
.evals-rating-table td {
  border: 1px solid #ddd;
  padding: 8px;
  padding-bottom: 5px;
  text-align: center;
}
.prof-card-name-and-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.prof-card-rating-title {
  font-weight: bold;
  display: block;
  font-size: 25px;
}

.prof-card-evals-rating {
  margin-left: 20px;
  width: 100px; /* Fixed width for the container */
  height: 35px; /* Fixed height for the container */
  overflow: hidden; /* Hide any overflow */
  white-space: nowrap; /* Prevent line breaks */
  flex: 1;
}

.albert {
    height: 100%; /* Set image height to container height */
    display: inline-block; /* Display images inline */
}

.prof-card-rating-text {
  font-size: 1em;
}
.prof-card-evals-main-info {
  display: flex;  
  justify-content: center; 
  align-items: center;
  width: 380px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.prof-card-main-info {
  display: flex;  
  justify-content: center; 
  align-items: center;
  padding-top: 3px;
  padding-bottom: 5px;
}
.prof-card-meter-title {
  font-size: 1.3em;
}
.prof-card-meter-section {
  /* possible block */
  display: flex;  
  justify-content: center; 
  align-items: center;
  width: 100%;
  text-align: center;
}
.prof-card-tags {
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
}
.prof-card-tag-bubble {
    margin-left: 3px;
    margin-right: 3px;
    padding: 5px;
    border-radius:20px;
}
.prof-card-review-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.prof-card-review-course {
  font-size: 1.1em;
  font-weight: 500;
}
.prof-card-review-date {
  float: right;
  font-weight: 500;
  font-size: 1.1em;
}
.link-name {
  text-decoration: none; 
  margin-left: auto;
  padding-left:10px;
  text-align: right;
}
.link-balance {
  color: rgb(128, 128, 128);
  position:relative;
  bottom: 0;
  right: 0;
  text-align: right;
  font-size: 1em;
}
.link-balance-rmp {
  float: right;
  transition: transform 0.15s ease; 
  text-decoration: none;
}
.link-balance-rmp:hover {
  transform: scale(0.95); 
  text-decoration: none;
}
.link-balance-evals {
  float: right;
  transition: transform 0.15s ease; 
  text-decoration: none;
}
.link-balance-evals:hover {
  transform: scale(0.95); 
  text-decoration: none;
}
.rating-number {
    text-align: center;
    padding: 10px;
    width: 41px;
    height: 41px;
    margin-left: 0px;
    border-radius:10px;
    margin-bottom: 3px;
}
  
.classSearchBasicResultsText{
  display: flex;
  flex-direction: column;
}

/* The green (optimum) bar in Firefox */
.normal-meter meter:-moz-meter-optimum::-moz-meter-bar {
  background: rgba(0, 128, 0, 0.25);
}
.inverse-meter meter:-moz-meter-optimum::-moz-meter-bar {
  background: rgba(128, 0, 0, 0.25);
}
/* The green (optimum) bar in Chrome etc. */
.normal-meter meter::-webkit-meter-optimum-value {
  background: rgba(0, 128, 0, 0.25);
}
.inverse-meter meter::-webkit-meter-optimum-value {
  background: rgba(128, 0, 0, 0.25);
}
/* The yellow (sub-optimum) bar in Firefox */
.normal-meter meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: rgba(255, 255, 0, 0.25);
}
.inverse-meter meter:-moz-meter-sub-optimum::-moz-meter-bar {
  background: rgba(255, 255, 0, 0.25);
}
/* The yellow (sub-optimum) bar in Chrome etc. */
.normal-meter meter::-webkit-meter-suboptimum-value {
  background: rgba(255, 255, 0, 0.25);
}
.inverse-meter meter::-webkit-meter-suboptimum-value {
  background: rgba(255, 255, 0, 0.25);
}
/* The red (even less good) bar in Firefox */
.normal-meter meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: rgba(128, 0, 0, 0.25);
}
.inverse-meter meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: rgba(0, 128, 0, 0.25);
}
/* The red (even less good) bar in Chrome etc. */
.normal-meter meter::-webkit-meter-even-less-good-value{
  background: rgba(128, 0, 0, 0.25);
}
.inverse-meter meter::-webkit-meter-even-less-good-value {
  background: rgba(0, 128, 0, 0.25);
}